@model IEnumerable<ReceitasMvc.Models.Receita>
@{
    Layout = "_LayoutAdmin";
}
<script>
    $(document).ready(function () {
        $('#receitas').DataTable({
            //"info" : false, //para apagar
            "language": {
                "lengthMenu": "Exibindo _MENU_ registros por página",
                "zeroRecords": "Desculpe, nada foi encontrado",
                "info": "Exibindo Página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "search": "Buscar",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": " Próximo",
                    "previous": "Anterior "
                }
            }

        });
    });
</script>
<h2>Receitas cadastradas no Site</h2>
<hr />
<hr />
<a asp-action="NovaReceita" asp-controller="Gestao" class="btn btn-success">Criar nova Receita</a>
<hr />


<table id="receitas" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Ações</th>
            <th>Detalhar</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var receita in Model)
        {
            <tr>
                <td>@receita.Id</td>
                <td>
                    <center><img src="@receita.Foto" width=100 height=70>
                </td>
                <td>@receita.Nome</td>
                <td>@receita.Categoria.Nome</td>


                <td><a class="btn btn-primary" href="/Gestao/EditarReceita/@receita.Id">Editar</a>

                    <form asp-action="Deletar" asp-controller="Receitas" style="display: inline;">
                        <input type="hidden" name="id" id="id" value="@receita.Id">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                <td><a class="btn btn-warning" href="/Gestao/ReceitaFinal/@receita.Id">Visualizar</a>


                </td>
            </tr>

        }
    </tbody>
</table>
